<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leimingtech.mapper.ShopGoodsImagesMapper">
  <resultMap id="BaseResultMap" type="com.leimingtech.entity.ShopGoodsImages">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="IMAGE_CAPTION" jdbcType="VARCHAR" property="imageCaption" />
    <result column="IMAGE_FILE_TYPE" jdbcType="VARCHAR" property="imageFileType" />
    <result column="IMAGE_FILE_NAME" jdbcType="VARCHAR" property="imageFileName" />
    <result column="SIZE_35_URL" jdbcType="VARCHAR" property="size35Url" />
    <result column="SIZE_50_URL" jdbcType="VARCHAR" property="size50Url" />
    <result column="SIZE_70_URL" jdbcType="VARCHAR" property="size70Url" />
    <result column="SIZE_95_URL" jdbcType="VARCHAR" property="size95Url" />
    <result column="SIZE_125_URL" jdbcType="VARCHAR" property="size125Url" />
    <result column="SIZE_215_URL" jdbcType="VARCHAR" property="size215Url" />
    <result column="SIZE_240_URL" jdbcType="VARCHAR" property="size240Url" />
    <result column="SIZE_500_URL" jdbcType="VARCHAR" property="size500Url" />
    <result column="SIZE_ORIGINAL" jdbcType="VARCHAR" property="sizeOriginal" />
    <result column="GOODS_ID" jdbcType="INTEGER" property="goodsId" />
    <result column="GOODS_ID_JP" jdbcType="INTEGER" property="goodsIdJp" />
    <result column="GOODS_CS_ID" jdbcType="INTEGER" property="goodsCsId" />
    <result column="GOODS_CS_ID_JP" jdbcType="INTEGER" property="goodsCsIdJp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, IMAGE_CAPTION, IMAGE_FILE_TYPE, IMAGE_FILE_NAME, SIZE_35_URL, SIZE_50_URL, SIZE_70_URL, 
    SIZE_95_URL, SIZE_125_URL, SIZE_215_URL, SIZE_240_URL, SIZE_500_URL, SIZE_ORIGINAL, 
    GOODS_ID, GOODS_ID_JP, GOODS_CS_ID, GOODS_CS_ID_JP
  </sql>
  <select id="selectByExample" parameterType="com.leimingtech.entity.ShopGoodsImagesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SHOP_GOODS_IMAGES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SHOP_GOODS_IMAGES
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SHOP_GOODS_IMAGES
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.leimingtech.entity.ShopGoodsImagesExample">
    delete from SHOP_GOODS_IMAGES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.leimingtech.entity.ShopGoodsImages">
    insert into SHOP_GOODS_IMAGES (ID, IMAGE_CAPTION, IMAGE_FILE_TYPE, 
      IMAGE_FILE_NAME, SIZE_35_URL, SIZE_50_URL, 
      SIZE_70_URL, SIZE_95_URL, SIZE_125_URL, 
      SIZE_215_URL, SIZE_240_URL, SIZE_500_URL, 
      SIZE_ORIGINAL, GOODS_ID, GOODS_ID_JP, 
      GOODS_CS_ID, GOODS_CS_ID_JP)
    values (#{id,jdbcType=INTEGER}, #{imageCaption,jdbcType=VARCHAR}, #{imageFileType,jdbcType=VARCHAR}, 
      #{imageFileName,jdbcType=VARCHAR}, #{size35Url,jdbcType=VARCHAR}, #{size50Url,jdbcType=VARCHAR}, 
      #{size70Url,jdbcType=VARCHAR}, #{size95Url,jdbcType=VARCHAR}, #{size125Url,jdbcType=VARCHAR}, 
      #{size215Url,jdbcType=VARCHAR}, #{size240Url,jdbcType=VARCHAR}, #{size500Url,jdbcType=VARCHAR}, 
      #{sizeOriginal,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, #{goodsIdJp,jdbcType=INTEGER}, 
      #{goodsCsId,jdbcType=INTEGER}, #{goodsCsIdJp,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.leimingtech.entity.ShopGoodsImages">
    insert into SHOP_GOODS_IMAGES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="imageCaption != null">
        IMAGE_CAPTION,
      </if>
      <if test="imageFileType != null">
        IMAGE_FILE_TYPE,
      </if>
      <if test="imageFileName != null">
        IMAGE_FILE_NAME,
      </if>
      <if test="size35Url != null">
        SIZE_35_URL,
      </if>
      <if test="size50Url != null">
        SIZE_50_URL,
      </if>
      <if test="size70Url != null">
        SIZE_70_URL,
      </if>
      <if test="size95Url != null">
        SIZE_95_URL,
      </if>
      <if test="size125Url != null">
        SIZE_125_URL,
      </if>
      <if test="size215Url != null">
        SIZE_215_URL,
      </if>
      <if test="size240Url != null">
        SIZE_240_URL,
      </if>
      <if test="size500Url != null">
        SIZE_500_URL,
      </if>
      <if test="sizeOriginal != null">
        SIZE_ORIGINAL,
      </if>
      <if test="goodsId != null">
        GOODS_ID,
      </if>
      <if test="goodsIdJp != null">
        GOODS_ID_JP,
      </if>
      <if test="goodsCsId != null">
        GOODS_CS_ID,
      </if>
      <if test="goodsCsIdJp != null">
        GOODS_CS_ID_JP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imageCaption != null">
        #{imageCaption,jdbcType=VARCHAR},
      </if>
      <if test="imageFileType != null">
        #{imageFileType,jdbcType=VARCHAR},
      </if>
      <if test="imageFileName != null">
        #{imageFileName,jdbcType=VARCHAR},
      </if>
      <if test="size35Url != null">
        #{size35Url,jdbcType=VARCHAR},
      </if>
      <if test="size50Url != null">
        #{size50Url,jdbcType=VARCHAR},
      </if>
      <if test="size70Url != null">
        #{size70Url,jdbcType=VARCHAR},
      </if>
      <if test="size95Url != null">
        #{size95Url,jdbcType=VARCHAR},
      </if>
      <if test="size125Url != null">
        #{size125Url,jdbcType=VARCHAR},
      </if>
      <if test="size215Url != null">
        #{size215Url,jdbcType=VARCHAR},
      </if>
      <if test="size240Url != null">
        #{size240Url,jdbcType=VARCHAR},
      </if>
      <if test="size500Url != null">
        #{size500Url,jdbcType=VARCHAR},
      </if>
      <if test="sizeOriginal != null">
        #{sizeOriginal,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsIdJp != null">
        #{goodsIdJp,jdbcType=INTEGER},
      </if>
      <if test="goodsCsId != null">
        #{goodsCsId,jdbcType=INTEGER},
      </if>
      <if test="goodsCsIdJp != null">
        #{goodsCsIdJp,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.leimingtech.entity.ShopGoodsImagesExample" resultType="java.lang.Integer">
    select count(*) from SHOP_GOODS_IMAGES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SHOP_GOODS_IMAGES
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.imageCaption != null">
        IMAGE_CAPTION = #{record.imageCaption,jdbcType=VARCHAR},
      </if>
      <if test="record.imageFileType != null">
        IMAGE_FILE_TYPE = #{record.imageFileType,jdbcType=VARCHAR},
      </if>
      <if test="record.imageFileName != null">
        IMAGE_FILE_NAME = #{record.imageFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.size35Url != null">
        SIZE_35_URL = #{record.size35Url,jdbcType=VARCHAR},
      </if>
      <if test="record.size50Url != null">
        SIZE_50_URL = #{record.size50Url,jdbcType=VARCHAR},
      </if>
      <if test="record.size70Url != null">
        SIZE_70_URL = #{record.size70Url,jdbcType=VARCHAR},
      </if>
      <if test="record.size95Url != null">
        SIZE_95_URL = #{record.size95Url,jdbcType=VARCHAR},
      </if>
      <if test="record.size125Url != null">
        SIZE_125_URL = #{record.size125Url,jdbcType=VARCHAR},
      </if>
      <if test="record.size215Url != null">
        SIZE_215_URL = #{record.size215Url,jdbcType=VARCHAR},
      </if>
      <if test="record.size240Url != null">
        SIZE_240_URL = #{record.size240Url,jdbcType=VARCHAR},
      </if>
      <if test="record.size500Url != null">
        SIZE_500_URL = #{record.size500Url,jdbcType=VARCHAR},
      </if>
      <if test="record.sizeOriginal != null">
        SIZE_ORIGINAL = #{record.sizeOriginal,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null">
        GOODS_ID = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsIdJp != null">
        GOODS_ID_JP = #{record.goodsIdJp,jdbcType=INTEGER},
      </if>
      <if test="record.goodsCsId != null">
        GOODS_CS_ID = #{record.goodsCsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsCsIdJp != null">
        GOODS_CS_ID_JP = #{record.goodsCsIdJp,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SHOP_GOODS_IMAGES
    set ID = #{record.id,jdbcType=INTEGER},
      IMAGE_CAPTION = #{record.imageCaption,jdbcType=VARCHAR},
      IMAGE_FILE_TYPE = #{record.imageFileType,jdbcType=VARCHAR},
      IMAGE_FILE_NAME = #{record.imageFileName,jdbcType=VARCHAR},
      SIZE_35_URL = #{record.size35Url,jdbcType=VARCHAR},
      SIZE_50_URL = #{record.size50Url,jdbcType=VARCHAR},
      SIZE_70_URL = #{record.size70Url,jdbcType=VARCHAR},
      SIZE_95_URL = #{record.size95Url,jdbcType=VARCHAR},
      SIZE_125_URL = #{record.size125Url,jdbcType=VARCHAR},
      SIZE_215_URL = #{record.size215Url,jdbcType=VARCHAR},
      SIZE_240_URL = #{record.size240Url,jdbcType=VARCHAR},
      SIZE_500_URL = #{record.size500Url,jdbcType=VARCHAR},
      SIZE_ORIGINAL = #{record.sizeOriginal,jdbcType=VARCHAR},
      GOODS_ID = #{record.goodsId,jdbcType=INTEGER},
      GOODS_ID_JP = #{record.goodsIdJp,jdbcType=INTEGER},
      GOODS_CS_ID = #{record.goodsCsId,jdbcType=INTEGER},
      GOODS_CS_ID_JP = #{record.goodsCsIdJp,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.leimingtech.entity.ShopGoodsImages">
    update SHOP_GOODS_IMAGES
    <set>
      <if test="imageCaption != null">
        IMAGE_CAPTION = #{imageCaption,jdbcType=VARCHAR},
      </if>
      <if test="imageFileType != null">
        IMAGE_FILE_TYPE = #{imageFileType,jdbcType=VARCHAR},
      </if>
      <if test="imageFileName != null">
        IMAGE_FILE_NAME = #{imageFileName,jdbcType=VARCHAR},
      </if>
      <if test="size35Url != null">
        SIZE_35_URL = #{size35Url,jdbcType=VARCHAR},
      </if>
      <if test="size50Url != null">
        SIZE_50_URL = #{size50Url,jdbcType=VARCHAR},
      </if>
      <if test="size70Url != null">
        SIZE_70_URL = #{size70Url,jdbcType=VARCHAR},
      </if>
      <if test="size95Url != null">
        SIZE_95_URL = #{size95Url,jdbcType=VARCHAR},
      </if>
      <if test="size125Url != null">
        SIZE_125_URL = #{size125Url,jdbcType=VARCHAR},
      </if>
      <if test="size215Url != null">
        SIZE_215_URL = #{size215Url,jdbcType=VARCHAR},
      </if>
      <if test="size240Url != null">
        SIZE_240_URL = #{size240Url,jdbcType=VARCHAR},
      </if>
      <if test="size500Url != null">
        SIZE_500_URL = #{size500Url,jdbcType=VARCHAR},
      </if>
      <if test="sizeOriginal != null">
        SIZE_ORIGINAL = #{sizeOriginal,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        GOODS_ID = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsIdJp != null">
        GOODS_ID_JP = #{goodsIdJp,jdbcType=INTEGER},
      </if>
      <if test="goodsCsId != null">
        GOODS_CS_ID = #{goodsCsId,jdbcType=INTEGER},
      </if>
      <if test="goodsCsIdJp != null">
        GOODS_CS_ID_JP = #{goodsCsIdJp,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leimingtech.entity.ShopGoodsImages">
    update SHOP_GOODS_IMAGES
    set IMAGE_CAPTION = #{imageCaption,jdbcType=VARCHAR},
      IMAGE_FILE_TYPE = #{imageFileType,jdbcType=VARCHAR},
      IMAGE_FILE_NAME = #{imageFileName,jdbcType=VARCHAR},
      SIZE_35_URL = #{size35Url,jdbcType=VARCHAR},
      SIZE_50_URL = #{size50Url,jdbcType=VARCHAR},
      SIZE_70_URL = #{size70Url,jdbcType=VARCHAR},
      SIZE_95_URL = #{size95Url,jdbcType=VARCHAR},
      SIZE_125_URL = #{size125Url,jdbcType=VARCHAR},
      SIZE_215_URL = #{size215Url,jdbcType=VARCHAR},
      SIZE_240_URL = #{size240Url,jdbcType=VARCHAR},
      SIZE_500_URL = #{size500Url,jdbcType=VARCHAR},
      SIZE_ORIGINAL = #{sizeOriginal,jdbcType=VARCHAR},
      GOODS_ID = #{goodsId,jdbcType=INTEGER},
      GOODS_ID_JP = #{goodsIdJp,jdbcType=INTEGER},
      GOODS_CS_ID = #{goodsCsId,jdbcType=INTEGER},
      GOODS_CS_ID_JP = #{goodsCsIdJp,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>